body {
    height: auto;
    background-image: url(images_chest/backgrond.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    
}







#header {
    position: fixed;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: black;
    border-radius: 20px 20px 0 0;
    color: white;
    margin-bottom: 0px;
    line-height: 60px;
    float: left;
     font-family: "Oswald", sans-serif;

}

.home {
    height: 150px;
    float: left;
    text-align: left;
    margin-left: 10px;
     font-size: 200%;
}

.return {
    width: 10%;
    height: 100px;
    background-color:lab(0% 0 0 / 0.450);
    border-radius: 40px;
    margin-top: 80px;
    margin-left: auto;
    float: left;
    text-align: center;
    font-size: 150%;
    line-height: 100px;
    font-family: "Oswald", sans-serif;
    color:white ;
    border: 1px solid rgba(255, 255, 255, 0.5);
     animation: return 1s ease forwards;
      transition: transform 0.3s ease;
}


.return:hover {
     transform:translateY(-5px);
     box-shadow: 0 4px 10px 2px rgba(255, 255, 255, 0.267);
}

@keyframes return {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


#desc {
    width: 89.5%;
    height: 100px;
    background-color:lab(0% 0 0 / 0.450);
    border-radius: 40px;
    margin-top: 80px;
    float: right;
    text-align: center;
    font-size: 180%;
    line-height: 30px;
    font-family: "Oswald", sans-serif;
    color:white ;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
#desc .text {
   width: 1100px;
margin-top: 1%;
margin-left: 5%;
}
@media (max-width: 1350px) {
#desc  {
height: auto;
    padding-bottom: 2%;
  }
}
@media (max-width: 1350px) {
#desc .text  {
height: auto;
    width: 90%;
  }
}



 #chest1 {
    width: 49.5%;
    height: 200px ;
    background-color: lab(19.3% -5.01 27.32 / 0.45);
    text-align: center;
    line-height: 200px;
    border-radius: 10px;
    float: left;
    margin-top: 30px;
    
    transition: transform 0.3s ease;
    animation: chest1 1s ease forwards;
    border: 1px solid rgba(238, 241, 40, 0.329);
}
@keyframes chest1 {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#chest1 img {
    height:170px ;
    width: 150px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;

    border-radius: 10px;
    border: 2px solid black;
}
#chest1 div {
     width: 410px;
     line-height: 35px;
     float: left;
     text-align: left;
     margin-top: 10px;
     margin-left: 8px;
     color: white;
      font-family: "Oswald", sans-serif;
      font-size: 200%;     
}
#chest1:hover {
     transform:translateY(-5px);
     box-shadow: 0 4px 10px 2px rgba(255, 255, 255, 0.267);  
}
.chest1_underline {
    text-decoration: underline;
}
@media (max-width: 1350px) {
#chest1 {
width: 30%;
height: 200px;
margin-left: 19.5%;

  }
}
@media (max-width: 1200px) {
#chest1 {
width: 30%;
height: 250px;
margin-left: 19.5%;
  }
}
@media (max-width: 900px) {
#chest1 {
width: 30%;
height: 340px;
margin-left: 19.5%;
  }
}
@media (max-width: 800px) {
#chest1 {
width: 30%;
height: 350px;
margin-left: 19%;
  }
}
@media (max-width: 1350px) {
#chest1 img {
width: 30%;
height: auto;
  }
}
@media (max-width: 1350px) {
#chest1 div {
width: 50%;
font-size: 120%;
line-height: 120%;
margin-top: 5%;
margin-bottom: 2%;
  }
}




#chest2 {
    width: 49.5%;
    height: 200px ;
    background-color: lab(19.3% -5.01 27.32 / 0.45);
    text-align: center;
    line-height: 200px;
    border-radius: 10px;
    float: right;
    margin-top: 30px;
    transition: transform 0.3s ease;
    animation: chest2 1s ease forwards;
    border: 1px solid rgba(238, 241, 40, 0.329);
}
@keyframes chest2 {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#chest2 img {
    height:170px ;
    width: 150px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid black;
}
#chest2 div {
     width: 410px;
     line-height: 35px;
     float: left;
     text-align: left;
     margin-top: 10px;
     margin-left: 8px;
     color: white;
      font-family: "Oswald", sans-serif;
      font-size: 200%;     
}
#chest2:hover {
     transform:translateY(-5px);
     box-shadow: 0 4px 10px 2px rgba(255, 255, 255, 0.267);  
}
.chest2_underline {
    text-decoration: underline;
}
@media (max-width: 1350px) {
#chest2 {
width: 30%;
height: 200px;
margin-right: 19.5%;
  }
}

@media (max-width: 1200px) {
#chest2 {
width: 30%;
height: 250px;
margin-right: 19.5%;
  }
}
@media (max-width: 900px) {
#chest2 {
width: 30%;
height: 340px;
margin-right: 19.5%;
  }
}
@media (max-width: 800px) {
#chest2 {
width: 30%;
height: 350px;
margin-right: 19%;
  }
}
@media (max-width: 1350px) {
#chest2 img {
width: 30%;
height: auto;
  }
}
@media (max-width: 1350px) {
#chest2 div {
width: 50%;
font-size: 120%;
line-height: 120%;
margin-top: 5%;
margin-bottom: 2%;

  }
}



#chest3 {
    width: 49.5%;
    height: 200px ;
    background-color: lab(19.3% -5.01 27.32 / 0.45);
    text-align: center;
    line-height: 200px;
    border-radius: 10px;
    float: left;
    margin-top: 30px;
    transition: transform 0.3s ease;
    animation: chest3 1s ease forwards;
    border: 1px solid rgba(238, 241, 40, 0.329);
}
@keyframes chest3 {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#chest3 img {
    height:170px ;
    width: 150px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid black;
}
#chest3 div {
     width: 480px;
     line-height: 35px;
     float: left;
     text-align: left;
     margin-top: 10px;
     margin-left: 8px;
     color: white;
      font-family: "Oswald", sans-serif;
      font-size: 200%;     
}
#chest3:hover {
     transform:translateY(-5px);
     box-shadow: 0 4px 10px 2px rgba(255, 255, 255, 0.267);  
}
.chest3_underline {
    text-decoration: underline;
}
@media (max-width: 1350px) {
#chest3 {
width: 30%;
height: 250px;
margin-left: 19.5%;
  }
}
@media (max-width: 1200px) {
#chest3 {
width: 30%;
height: 300px;
margin-left: 19.5%;
  }
}
@media (max-width: 900px) {
#chest3 {
width: 30%;
height: 370px;
margin-left: 19.5%;
  }
}
@media (max-width: 800px) {
#chest3 {
width: 30%;
height: 400px;
margin-left: 19.5%;
  }
}
@media (max-width: 1350px) {
#chest3 img {
width: 30%;
height: auto;
  }
}
@media (max-width: 1350px) {
#chest3 div {
width: 50%;
font-size: 120%;
line-height: 120%;
margin-top: 5%;
margin-bottom: 2%;
  }
}




#chest4 {
    width: 49.5%;
    height: 200px ;
    background-color: lab(19.3% -5.01 27.32 / 0.45);
    text-align: center;
    border-radius: 10px;
    float: right;
    margin-top: 30px;
    transition: transform 0.3s ease;
    animation: chest4 1s ease forwards;
    border: 1px solid rgba(238, 241, 40, 0.329);
}
@keyframes chest4 {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#chest4 img {
    height:170px ;
    width: 150px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid black;
}
#chest4 div {
     width: 485px;
     line-height: 30px;
     float: left;
     text-align: left;
     margin-top: 10px;
     margin-left: 8px;
     color: white;
      font-family: "Oswald", sans-serif;
      font-size: 200%;     
}
#chest4:hover {
     transform:translateY(-5px);
     box-shadow: 0 4px 10px 2px rgba(255, 255, 255, 0.267);  
}
.chest4_underline {
    text-decoration: underline;
}
@media (max-width: 1350px) {
#chest4 {
width: 30%;
height: 250px;
margin-right: 19.5%;
  }
}
@media (max-width: 1200px) {
#chest4 {
width: 30%;
height: 300px;
margin-right: 19.5%;
  }
}
@media (max-width: 900px) {
#chest4 {
width: 30%;
height: 370px;
margin-right: 19.5%;
  }
}
@media (max-width: 800px) {
#chest4 {
width: 30%;
height: 400px;
margin-right: 19.5%;
  }
}
@media (max-width: 1350px) {
#chest4 img {
width: 30%;
height: auto;
  }
}
@media (max-width: 1350px) {
#chest4 div {
width: 50%;
font-size: 120%;
line-height: 120%;
margin-top: 5%;
margin-bottom: 2%;

  }
}





#chest5 {
    width: 49.5%;
    height: 200px ;
    background-color: lab(19.3% -5.01 27.32 / 0.45);
    text-align: left;
    border-radius: 10px;
    float: left;
    margin-top: 30px;
    transition: transform 0.3s ease;
    animation: chest5 1s ease forwards;
    border: 1px solid rgba(238, 241, 40, 0.329);
}
@keyframes chest5 {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#chest5 img {
    height:170px ;
    width: 150px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid black;
}
#chest5 div {
     width: 485px;
     line-height: 35px;
     float: left;
     text-align: left;
     margin-top: 10px;
     margin-left: 8px;
     color: white;
      font-family: "Oswald", sans-serif;
      font-size: 200%;     
}
#chest5:hover {
     transform:translateY(-5px);
     box-shadow: 0 4px 10px 2px rgba(255, 255, 255, 0.267);  
}
.chest5_underline {
    text-decoration: underline;
}
@media (max-width: 1350px) {
#chest5 {
width: 30%;
height: 250px;
margin-left: 19.5%;
  }
}
@media (max-width: 1200px) {
#chest5 {
width: 30%;
height: 300px;
margin-left: 19.5%;
  }
}
@media (max-width: 900px) {
#chest5 {
width: 30%;
height: 350px;
margin-left: 19.5%;
  }
}
@media (max-width: 800px) {
#chest5 {
width: 30%;
height: 400px;
margin-left: 19.5%;
  }
}
@media (max-width: 1350px) {
#chest5 img {
width: 30%;
height: auto;
  }
}
@media (max-width: 1350px) {
#chest5 div {
width: 50%;
font-size: 120%;
line-height: 120%;
margin-top: 5%;
margin-bottom: 2%;
  }
}




#chest6 {
    width: 49.5%;
    height: 200px ;
    background-color: lab(19.3% -5.01 27.32 / 0.45);
    text-align: left;
    border-radius: 10px;
    float: right;
    margin-top: 30px;
    transition: transform 0.3s ease;
    animation: chest6 1s ease forwards;
    border: 1px solid rgba(238, 241, 40, 0.329);
}
@keyframes chest6 {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#chest6 img {
    height:170px ;
    width: 150px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid black;
}
#chest6 div {
     width: 485px;
     line-height: 35px;
     float: left;
     text-align: left;
     margin-top: 10px;
     margin-left: 8px;
     color: white;
      font-family: "Oswald", sans-serif;
      font-size: 200%;     
}
#chest6:hover {
     transform:translateY(-5px);
     box-shadow: 0 4px 10px 2px rgba(255, 255, 255, 0.267);  
}
.chest6_underline {
    text-decoration: underline;
}
@media (max-width: 1350px) {
#chest6 {
width: 30%;
height: 250px;
margin-right: 19.5%;
  }
}
@media (max-width: 1200px) {
#chest6 {
width: 30%;
height: 300px;
margin-right: 19.5%;
  }
}
@media (max-width: 900px) {
#chest6 {
width: 30%;
height: 350px;
margin-right: 19.5%;
  }
}
@media (max-width: 800px) {
#chest6 {
width: 30%;
height: 400px;
margin-right: 19.5%;
  }
}
@media (max-width: 1350px) {
#chest6 img {
width: 30%;
height: auto;
  }
}
@media (max-width: 1350px) {
#chest6 div {
width: 50%;
font-size: 120%;
line-height: 120%;
margin-top: 5%;
margin-bottom: 2%;

  }
}






#chest7 {
    width: 49.5%;
    height: 200px ;
    background-color: lab(19.3% -5.01 27.32 / 0.45);
    text-align: left;
    border-radius: 10px;
    float: left;
    margin-top: 30px;
    transition: transform 0.3s ease;
    animation: chest7 1s ease forwards;
    border: 1px solid rgba(238, 241, 40, 0.329);
}
@keyframes chest7 {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#chest7 img {
    height:170px ;
    width: 150px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid black;
}
#chest7 div {
     width: 485px;
     line-height: 35px;
     float: left;
     text-align: left;
     margin-top: 10px;
     margin-left: 8px;
     color: white;
      font-family: "Oswald", sans-serif;
      font-size: 200%;     
}
#chest7:hover {
     transform:translateY(-5px);
     box-shadow: 0 4px 10px 2px rgba(255, 255, 255, 0.267);  
}
.chest7_underline {
    text-decoration: underline;
}
@media (max-width: 1350px) {
#chest7 {
width: 30%;
height: 200px;
margin-left: 19.5%;
  }
}
@media (max-width: 1350px) {
#chest7 img {
width: 30%;
height: auto;
  }
}
@media (max-width: 1200px) {
#chest7 {
width: 30%;
height: 250px;
margin-left: 19.5%;
  }
}
@media (max-width: 900px) {
#chest7 {
width: 30%;
height: 320px;
margin-left: 19.5%;
  }
}
@media (max-width: 800px) {
#chest7 {
width: 30%;
height: 350px;
margin-left: 19.5%;
  }
}
@media (max-width: 1350px) {
#chest7 div {
width: 50%;
font-size: 120%;
line-height: 120%;
margin-top: 5%;
margin-bottom: 2%;
  }
}




#chest8 {
    width: 49.5%;
    height: 200px ;
    background-color: lab(19.3% -5.01 27.32 / 0.45);
    text-align: left;
    border-radius: 10px;
    float: right;
    margin-top: 30px;
    transition: transform 0.3s ease;
    animation: chest8 1s ease forwards;
    border: 1px solid rgba(238, 241, 40, 0.329);
}
@keyframes chest8 {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#chest8 img {
    height:170px ;
    width: 170px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid black;
}
#chest8 div {
     width: 460px;
     line-height: 35px;
     float: left;
     text-align: left;
     margin-top: 10px;
     margin-left: 8px;
     color: white;
      font-family: "Oswald", sans-serif;
      font-size: 200%;     
}
#chest8:hover {
     transform:translateY(-5px);
     box-shadow: 0 4px 10px 2px rgba(255, 255, 255, 0.267);  
}
.chest8_underline {
    text-decoration: underline;
}
@media (max-width: 1350px) {
#chest8 {
width: 30%;
height: 200px;
margin-right: 19.5%;
  }
}
@media (max-width: 1200px) {
#chest8 {
width: 30%;
height: 250px;
margin-right: 19.5%;
  }
}
@media (max-width: 900px) {
#chest8 {
width: 30%;
height: 320px;
margin-right: 19.5%;
  }
}
@media (max-width: 800px) {
#chest8 {
width: 30%;
height: 350px;
margin-right: 19.5%;
  }
}
@media (max-width: 1350px) {
#chest8 img {
width: 30%;
height: auto;
  }
}
@media (max-width: 1350px) {
#chest8 div {
width: 50%;
font-size: 120%;
line-height: 120%;
margin-top: 5%;
margin-bottom: 2%;

  }
}




.line {
    width: 100%;
    height: 5px;
    background-color: rgba(255, 251, 0, 0.13);
    margin-top: 60px;
    margin-bottom: 40px;
    float: left;
    border: 0.5px solid rgba(255, 251, 0, 0.438);
    box-shadow: 0px 0px 20px rgb(70, 61, 0);
}


















#recommendations {
    width: 49.5%;
    background-color: lab(0% 0 0 / 0.450);
    border-radius: 40px 0px 0 40px;
    float: left;
    margin-bottom: 40px;
    padding-bottom: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 120%;

}
#recommendations .title {
    width: 80%;
    color: rgb(255, 255, 255);
    font-size: 300%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 30px ;
    float: left;
    line-height: 50px;
    font-weight: bold;
    -webkit-text-stroke: 0.6px rgb(0, 0, 0);
    text-shadow: 0 0 2px rgb(75, 73, 0);
}
#recommendations .text {
    width: 85%;
    margin-left: 30px; 
    text-align: left;
    line-height: 35px;
    margin-top: 20px;
    font-size: 120%;
    float: left;
    
}
#recommendations .text_decorative {
    text-decoration: underline;
    font-size: 160%;
}








#facts {
    width: 49.5%;
    background-color: lab(0% 0 0 / 0.450);
    border-radius: 0px 40px 0 0;
    float: right;
    margin-bottom: 40px;
    padding-bottom: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 120%;
    
    

}
#facts .title {
    width: 80%;
    color: rgb(255, 255, 255);
    font-size: 300%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 30px ;
    float: left;
    line-height: 50px;
    font-weight: bold;
    -webkit-text-stroke: 0.6px rgb(0, 0, 0);
    text-shadow: 0 0 2px rgb(75, 73, 0);
}
#facts .text {
    width: 85%;
    margin-left: 30px; 
    text-align: left;
    line-height: 35px;
    margin-top: 20px;
    font-size: 120%;
    float: left;
    
}
#facts .text_decorative {
    text-decoration: underline;
    font-size: 160%;
}






.the_end {
   
   width: 49.5%;
    height: 230px;
    background-color:lab(0% 0 0 / 0.450);
    border-radius: 0px 0px 40px 0px;
    margin-top: -270px;
    margin-left: 80px;
    margin-bottom: 40px;
    float: right;
    text-align: center;
    font-size: 250%;
    line-height: 230px;
    font-family: "Oswald", sans-serif;
    color:white ;
    border: 1px solid rgba(255, 255, 255, 0.5);
     animation: the_end 1s ease forwards;
      transition: transform 0.3s ease;}



.the_end:hover {
     transform:translateY(-5px);
     box-shadow: 0 4px 10px 2px rgba(255, 255, 255, 0.267);
}

@keyframes the_end {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}







.return_fixed {
    position: fixed;
    width: 50px;
    border: 1px solid white;
    height: 50px;
    border-radius: 50px;
    float: left;
    bottom: 20px;
    right: 20px;
    background-color: lab(21.25% 0 0 / 0.45);
    color: white;
    font-size: 200%;
    text-align: center;
    line-height: 55px;
    animation: return_fixed 1s ease forwards;
    transition: transform 0.3s ease;
}
 .return_fixed:hover {
     transform:translateY(-5px);
     box-shadow: 0 4px 10px 2px rgba(255, 255, 255, 0.267);
}
@keyframes return_fixed {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}











#footer {
     width: 100%;
    height: 60px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    color: white;
    margin-top: auto;
    line-height: 60px;
    border-top: 4px solid silver;
    float:left;
     font-family: "Oswald", sans-serif;
}
#contacts {
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: rgb(75, 75, 75);
    color: white;
    line-height: 30px;
    float: left;
     font-family: "Oswald", sans-serif;
}
#contacts:hover {
    background-color: rgb(105, 105, 105);
}


